absl-py==2.2.2
annotated-types==0.8.0
asttokens==3.0.2
bcrypt==5.0.0
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.5.1
click==8.5.0
cloudpickle==3.1.2
colorlog==6.9.0
contourpy==1.4.0
cryptography==50.0.1
cycler==0.12.1
decorator==5.3.1
deprecated==1.3.1
docstring-parser==0.18.0
etils==1.14.0
executing==2.2.1
fabric==3.2.3
filelock==3.32.3
fonttools==4.65.0
fsspec==2026.7.0
gitdb==4.0.12
gitpython==3.1.62
glfw==2.10.2
grpcio==1.84.0
idna==3.20
imageio==2.37.4
imageio-ffmpeg==0.6.0
importlib-metadata==9.0.1
iniconfig==2.3.0
invoke==2.2.1
ipython==9.17.1
ipython-pygments-lexers==1.1.1
jax==0.4.38
jaxlib==0.4.38
jedi==0.20.0
jinja2==3.1.6
kiwisolver==1.5.1
lazy-loader==0.5
markdown==3.10.3
markdown-it-py==4.2.0
markupsafe==3.0.3
matplotlib==3.11.2
matplotlib-inline==0.2.2
mdurl==0.1.2
mediapy==1.2.7
mjlab==1.6.0
mjviser==0.0.14
ml-dtypes==0.6.0
mpmath==1.3.0
msgspec==0.21.1
mujoco==3.11.0
mujoco-warp==3.11.0
networkx==3.6.1
numpy==2.2.6
nvidia-cublas-cu11==11.11.3.6
nvidia-cuda-cupti-cu11==11.8.87
nvidia-cuda-nvrtc-cu11==11.8.89
nvidia-cuda-runtime-cu11==11.8.89
nvidia-cudnn-cu11==9.1.0.70
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.3.0.86
nvidia-cusolver-cu11==11.4.1.48
nvidia-cusparse-cu11==11.7.5.86
nvidia-nccl-cu11==2.21.5
nvidia-nvtx-cu11==11.8.86
onnx==1.23.0
onnx-ir==1.0.0
onnxscript==0.7.2
opt-einsum==3.4.0
orjson==3.12.0
packaging==26.3
paramiko==5.0.0
parso==0.8.7
pexpect==4.9.0
pillow==12.3.0
platformdirs==4.11.11
pluggy==1.6.0
prettytable==3.18.0
prompt-toolkit==3.0.53
protobuf==6.33.6
psutil==7.2.2
ptyprocess==0.7.0
pure-eval==0.2.4
pycparser==3.0
pydantic==2.13.5
pydantic-core==2.46.5
pygments==2.21.0
pynacl==1.6.2
pyopengl==3.1.10
pyparsing==3.3.2
pytest==8.4.2
python-dateutil==2.9.0.post0
pyvers==0.2.3
pyyaml==6.0.3
requests==2.34.2
rich==14.3.4
rsl-rl-lib==5.4.2
scikit-image==0.25.2
scipy==1.15.3
sentry-sdk==2.69.2
setuptools==78.1.0
six==1.17.0
smmap==5.0.3
stack-data==0.6.3
sympy==1.14.0
tensorboard==2.21.0
tensorboard-data-server==0.7.2
tensordict==0.14.2
tifffile==2026.9.15
torch==2.7.1+cu118
torchrunx==0.4.0
torchvision==0.22.1+cu118
tqdm==4.70.1
traitlets==5.16.1
trimesh==5.1.0
triton==3.3.1
typeguard==4.6.0
typing-extensions==4.16.0
typing-inspection==0.4.4
tyro==1.0.16
urllib3==2.8.0
viser==1.1.1
wandb==0.22.3
warp-lang==1.14.0
wcwidth==0.8.4
websockets==16.1.1
werkzeug==3.1.8
wrapt==2.4.1
zipp==4.1.0
zstandard==0.25.0
